.nav-container{
    margin-left: 93px;
    @media screen and (max-width: 767px) {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}